<div id="{{modelName}}-detail-pg">
    <div class="page-title">
        <div class="title_left">
            <h3 ng-bind="vm.isDeleteAction ? '{{modelText}}删除确认' : '{{modelText}}详情'"></h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h4>{{modelText}}信息 <small>查看{{modelText}}的详细情报</small></h4>
        </div>
        <div class="x_content">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{modelText}}ID：</label>
                    <div class="col-md-6 col-sm-6 col-xs-12 x_text" ng-bind="vm.model.id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{modelText}}名：</label>
                    <div class="col-md-6 col-sm-6 col-xs-12 x_text" ng-bind="vm.model.name">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group btn_action_group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="button" class="btn btn-danger x_btn" ng-click="vm.save()" ng-if="vm.isDeleteAction">确认删除</button>
                        <button type="button" class="btn btn-default x_btn" ng-click="vm.back()">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
