.uploadItem {
    @extend .thumbnail;
    position: relative;
    float: left;
    padding: 12px;
    width: 100%;
}

.uploadItem-img-wrapper {
	height: 100%;
	width: 100%;
	&:hover {
		.uploadItem-remove {
			opacity: 1;
		}
	}
}

.uploadItem-image {
    @extend .center-block;
    max-width: 100%;
    height: auto;
    max-length: 100%;

}

.uploadItem-remove {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
}
